@import "./__img/preview__img.styl"
@import "./__bar/preview__bar.styl"
@import "./__info/preview__info.styl"
@import "./__team/preview__team.styl"
@import "./__team-member/preview__team-member.styl"
@import "./__team-circle/preview__team-circle.styl"

.preview
    margin-top: 62px
    background: #F9F9F9