@import "./__name/afterheader__name.styl"
@import "./__subtitle/afterheader__subtitle.styl"
@import "./__title/afterheader__title.styl"
@import "./__info/afterheader__info.styl"

.afterheader
    padding: 0 150px
    margin-top: 90px