@import "./__name/afterheader__name.styl"
@import "./__subtitle/afterheader__subtitle.styl"
@import "./__title/afterheader__title.styl"
@import "./__info/afterheader__info.styl"

.afterheader
    display: flex
    padding: 0 150px
    justify-content: space-between
    margin-top: 90px
    align-items: center