@import "./__brif/footer__brif.styl"
@import "./__brif-img/footer__brif-img.styl"
@import "./__brif-logo/footer__brif-logo.styl"
@import "./__brif-text/footer__brif-text.styl"
@import "./__description/footer__description.styl"
@import "./__info/footer__info.styl"
@import "./__title/footer__title.styl"


.footer
    background-color: #1F2022
    color: #fff
    display: flex
    justify-content: space-between
    padding: 150px 150px 169px
    font-weight: normal
    font-size: 18px
    line-height: 135%
    letter-spacing: -0.02em