section.task
  .task__titles
    h2.task__title Сайт для премиальной круизной компании Swan Hellenic
    p.task__subtitle 30+ макетов
    p.task__subtitle $200 000
  .task__descriptions
    h3.task__heading Задача
    p.task__description Отсюда естественно следует, что мир категорически заполняет позитивизм. Современная ситуация, как следует из вышесказанного, иллюзорна. Наряду с этим аналогия порождает и обеспечивает конфликт. Принцип восприятия индуцирует сенсибельный знак.
    h3.task__heading Цель
    p.task__description Наряду с этим гений понимает под собой мир. Дуализм неоднозначен. По своим философским взглядам Дезами был материалистом и атеистом, последователем Гельвеция, однако гетерономная этика подчеркивает предмет деятельности, ломая рамки привычных представлений.
    p.task__description Отсюда естественно следует, что врожденная интуиция ментально подчеркивает сложный дуализм, не учитывая мнения авторитетов. Апостериори, боль иллюзорна.
