@import "./__title/task__title.styl"
@import "./__titles/task__titles.styl"
@import "./__subtitle/task__subtitle.styl"
@import "./__descriptions/task__descriptions.styl"
@import "./__heading/task__heading.styl"
@import "./__description/task__description.styl"

.task
    display: flex
    padding: 100px 150px 113px
    justify-content: space-between
    align-items: baseline
    color: #333333
    line-height: 1.2