@import "./__title/info__title.styl"
@import "./__descriptions/info__descriptions.styl"
@import "./__description/info__description.styl"

.info
    display: flex
    padding: 100px 150px 115px
    justify-content: space-between
    align-items: start
    color: #333