section.prefooter
  .prefooter__direction
    a.prefooter__arrow-left(href='#')
      img.prefooter__arrow-img(src='../images/arrow-right.png', alt='Стрелочка')
    p.prefooter__name ОТП Банк
  .prefooter__direction
    p.prefooter__name Diageo
    a.prefooter__arrow-right(href='#')
      img.prefooter__arrow-img(src='../images/arrow-right.png', alt='Стрелочка')
