.footer__brif-logo
    background-color: #fff
    width: 92px
    height: 92px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    border: 8px solid #1f2022e6
    margin-right: 16px