section.afterheader
  .afterheader__name
    p.afterheader__subtitle главная / кейсы
    h1.afterheader__title Swan Hellenic
  .afterheader__info
    p.item веб-дизайн
    .pointer
    p.item июль 2020
