section.afterheader
  p.afterheader__subtitle главная / кейсы
  .afterheader__name
    h1.afterheader__title Swan Hellenic
    .afterheader__info
      p.item веб-дизайн
      .pointer
      p.item июль 2020
