.afterheader
  .afterheader__name
    p.afterheader__subtitle главная / кейсы
    h1.afterheader__title Swan Hellenic
  .afterheader__info
    p.afterheader__technology веб-дизайн
    .afterheader__pointer
    p.afterheader__date июль 2020
