section.example
  .example__background
    img.example__img(src='../images/example-img1.png', alt='Пример дектопной версии сайта')
    img.example__img(src='../images/example-img2.png', alt='Пример дектопной версии сайта')
