@import "./__name/prefooter__name.styl"
@import "./__arrow-left/prefooter__arrow-left.styl"
@import "./__arrow-right/prefooter__arrow-right.styl"
@import "./__arrow-img/prefooter__arrow-img.styl"
@import "./__direction/prefooter__direction.styl"

.prefooter
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 155px;
    background-color: #F9F9F9;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;