section.preview
  img.preview__img(src='../../images/preview-photo.png', alt='Превью фото')
  .preview__bar
    .preview__info
      p.item UX-аналитика
      .pointer
      p.item 3D графика
    .preview__info
      p.item Команда:
      .preview__team 
        img.preview__team-member(src='../../images/team-m1.png', alt='Участник команды')
        img.preview__team-member(src='../../images/team-m2.png', alt='Участник команды')
        img.preview__team-member(src='../../images/team-m3.png', alt='Участник команды')
        img.preview__team-member(src='../../images/team-m4.png', alt='Участник команды')
        .preview__team-circle +2
      .pointer
      p.item 3 месяца
