footer.footer
  .footer__info
    h2.footer__title Понравился проект?
    p.footer__description Дезами был материалистом и атеистом, последователем Гельвеция, однако гетерономная этика подчеркивает предмет
  .footer__brif
    .footer__brif-logo
      img.footer__brif-img(src='../../images/anchor.svg', alt='Лого брифа')
    p.footer__brif-text Заполнить бриф
