header.header
  img.logo(src='../images/logo.svg', alt='логотип')
  nav.nav
    ul.nav__links
      li
        a.nav__link(href='#') о компании
      li
        a.nav__link(href='#') направления
          img.nav__chevron(src='../images/chevron-down.png')
      li
        a.nav__link(href='#') кейсы
      li
        a.nav__link(href='#') карьера
  .connection
    a.connection__phone(href='tel:+74951377745') +7 (495) 137-77-45
    a.connection__recall(href='#') обратный звонок
