.preview__team-circle
    height: 40px;
    width: 40px;
    background-color: #0475c7;
    align-self: center;
    border-radius: 50%;
    border: 3px solid #fff;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;